body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

/* Container */
.container {
    text-align: center;
    padding: 20px;
}

/* Title */
h1 {
    color: white;
}

/* Card */
.card {
    background: white;
    margin: 15px auto;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    animation: fadeIn 1s ease-in-out;
}

/* Inputs */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

/* Buttons */
button {
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

button:active {
    transform: scale(0.95);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #1e1e1e;
    color: white;
}

/* Mobile */
@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }

    .card {
        width: 95%;
    }
}